name: Docker file ci
on:
  push:
    branches:
      - main
jobs:
  docker-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: docker build image
        run: "docker build -t meetchhatrala789/nodeapp:v12 ./my-react-app"
  
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN_DOCKER }}

      - name: push docker image
        run: "docker push meetchhatrala789/nodeapp:v12"
      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/deployment.yaml
          git commit -m "deploy: update image to version ${{ steps.vars.outputs.version_name }}"
          git push origin main

     